@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face{
    font-weight: 400;
    font-family: 'Avenir';
    src: url('/fonts/AvenirLTStd-Book.woff2') format('woff2');
  }
  @font-face{
    font-weight: 900;
    font-family: 'Avenir';
    src: url('/fonts/AvenirLTStd-Black.woff2') format('woff2');
  }
}